* {
  box-sizing: border-box;
  font-family: Vazirmatn, Tahoma, sans-serif;
}

body {
  margin: 0;
  min-height: 100vh;

  background-image:
    linear-gradient(
      rgba(255, 255, 255, 0.75),
      rgba(255, 255, 255, 0.75)
    ),
    url("images.jfif");

  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}